Importing pandas package

In [9]:
import pandas as pd

In [10]:
dataframe = pd.read_csv('hawaii_enrollments.csv')

In [11]:
dataframe.head()

,Unnamed: 0,SPRADDR_ZIP_PR,SEMESTER,IRO_INSTITUTION_DESCL,ENROLLMENT,YEAR
0,0,96766,Fall 2012,Kaua`i Community College,73,2012
1,1,96814,Fall 2012,Kapi`olani Community College,19,2012
2,2,96792,Fall 2012,Leeward Community College,504,2012
3,3,96822,Fall 2012,Honolulu Community College,12,2012
4,4,96821,Fall 2012,Kapi`olani Community College,43,2012

1. How many total students were cummulatively enrolled in total from 2014 to 2019?

In [15]:
data = dataframe[(dataframe['YEAR'] >= 2014) & (dataframe['YEAR'] <= 2019)]

In [16]:
print('Total number of students:',len(data))

Total number of students: 54049

2. Which campus had the most cummulatively enrolled students from 2014-2019 (and what is that value)?

In [17]:
dataset = data.groupby('IRO_INSTITUTION_DESCL').count()

In [19]:
maxCount = dataset.max()['ENROLLMENT']

In [20]:
print('the maximum number of cumulatively enrolled students from 2014-2019:',maxCount)

the maximum number of cumulatively enrolled students from 2014-2019: 23766

In [21]:
dataset = dataset.reset_index()

In [23]:
print('the campus for which the value belongs :')

the campus for which the value belongs :

In [24]:
dataset.loc[dataset['Unnamed: 0'] == maxCount, 'IRO_INSTITUTION_DESCL']

8    University of Hawai`i at Manoa
Name: IRO_INSTITUTION_DESCL, dtype: object

3. Which campus has the least?

In [25]:
minCount = dataset.min()['ENROLLMENT']
dataset.loc[dataset['Unnamed: 0'] == minCount, 'IRO_INSTITUTION_DESCL']

3    Kaua`i Community College
Name: IRO_INSTITUTION_DESCL, dtype: object

4. Which Hawaii zip code does the largest number of students come from (across all campuses)?

In [26]:
dataset = data.groupby('SPRADDR_ZIP_PR').count()

In [27]:
dataset.head()

                Unnamed: 0  SEMESTER  IRO_INSTITUTION_DESCL  ENROLLMENT  YEAR
SPRADDR_ZIP_PR
0                        7         7                      7           7     7
1                        2         2                      2           2     2
180                      3         3                      3           3     3
612                      1         1                      1           1     1
623                      1         1                      1           1     1

In [28]:
dataset = dataset.reset_index()

In [29]:
dataset.head()

,SPRADDR_ZIP_PR,Unnamed: 0,SEMESTER,IRO_INSTITUTION_DESCL,ENROLLMENT,YEAR
0,0,7,7,7,7,7
1,1,2,2,2,2,2
2,180,3,3,3,3,3
3,612,1,1,1,1,1
4,623,1,1,1,1,1

In [30]:
maxCount = dataset.max()['ENROLLMENT']

In [31]:
dataset.loc[dataset['ENROLLMENT'] == maxCount, 'SPRADDR_ZIP_PR']

5382    96706
Name: SPRADDR_ZIP_PR, dtype: int64

5. Which Hawaii zip code does the largest number of students come from for the Manoa flagship campus?

In [33]:
dataframe.head()

,Unnamed: 0,SPRADDR_ZIP_PR,SEMESTER,IRO_INSTITUTION_DESCL,ENROLLMENT,YEAR
0,0,96766,Fall 2012,Kaua`i Community College,73,2012
1,1,96814,Fall 2012,Kapi`olani Community College,19,2012
2,2,96792,Fall 2012,Leeward Community College,504,2012
3,3,96822,Fall 2012,Honolulu Community College,12,2012
4,4,96821,Fall 2012,Kapi`olani Community College,43,2012

In [36]:
new_dataframe = dataframe.loc[dataframe['IRO_INSTITUTION_DESCL'].str.contains('Manoa')]

In [37]:
new_dataframe = new_dataframe.groupby('SPRADDR_ZIP_PR').count()

In [38]:
maxCount = new_dataframe.max()['ENROLLMENT']

In [39]:
new_dataframe.head()

                Unnamed: 0  SEMESTER  IRO_INSTITUTION_DESCL  ENROLLMENT  YEAR
SPRADDR_ZIP_PR
0                        3         3                      3           3     3
1                        2         2                      2           2     2
180                      3         3                      3           3     3
674                      1         1                      1           1     1
678                      1         1                      1           1     1

In [41]:
new_dataframe = new_dataframe.reset_index()

In [42]:
new_dataframe.loc[new_dataframe.ENROLLMENT == maxCount,'SPRADDR_ZIP_PR']

5047    96822
Name: SPRADDR_ZIP_PR, dtype: int64